{% extends "core/../core/base.html" %}

{% block content %}
<div class="cardForm">
  <form method="post">
    {% csrf_token %}
    <table>
    <caption align="top" style="font-size: 14px;"><b>Change Password</b></caption>
      <tr>
        <td><label for="newpass1">New Password: </label></td>
        <td><input type="text" name="newpass1"></td>
      </tr>
      <tr>
        <td><label for="newpass2">Confirm: </label></td>
        <td><input type="text" name="newpass2"></td>
      </tr>
    </table>
  <button type="submit" class="loginButton">Go!</button>
  {% if msg %}
    {{ msg }}
  {% endif %}  
  </form>

</div>
{% endblock %}