{% extends "core/../core/base.html" %}

{% block content %}
<div class="cardForm">
  <form method="post">
    {% csrf_token %}
    <table>
    <caption align="top" style="font-size: 14px;"><b>Sign Guestbook</b></caption>
      <tr>
        <td><label for="uname">Name: </label></td>
        <td><input type="text" name="uname"></td>
      </tr>
      <tr>
        <td><label for="umsg">Message: </label></td>
        <td><input type="textarea" name="umsg"></td>
      </tr>
    </table>
  <button type="submit" class="loginButton">Go!</button>
  </form>
</div>
<div class="stdout">
  <p style="font-size: 10px; padding-left: 3px;">
    {% for post in posts %}
      {% autoescape off %}
        {{ post.user_message }}
        - {{ post.first_name }}
      {% endautoescape %}
    {% endfor %}
  </p>
</div>
{% endblock %}