{% extends "core/../core/base.html" %}

{% block content %}
<div class="cardForm">
  <form method="post">
    {% csrf_token %}

    <table>
    <caption align="top" style="font-size: 14px;"><b>Test a Connection</b></caption>
      <tr>
        <td><label for="serveraddr">Server: </label></td>
        <td><input type="text" name="serveraddr"></td>
      </tr>
    </table>
  <button type="submit" class="loginButton">Go!</button>
  </form>
</div>
<div class="stdout">
  <p style="font-size: 10px; padding-left: 3px;">{{ stdout }}</p>
</div>
{% endblock %} 