{% extends "core/../core/base.html" %}

{% block content %}
<div class="cardForm">
  <p style="margin: auto;">Logged out! <br />  
  <a href="{% url 'login'%}">Click here to login again.</a>
  </p>
</div>
{% endblock %}