{% extends "core/../core/base.html" %}

{% block content %}
<div class="cardForm">

  <h1>The password has been changed!</h1>
  <p><a href="{% url 'login' %}">log in again?</a></p>

</div>
{% endblock %}